.page-wrapper {
    width: 1000px;
    min-height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.dropzone {
    border: 1px solid red;
    min-height: 100px;
    padding: 0;
}

.dropzone .dz-preview {
    /*width: 220px;*/
    /*height: 120px;*/
    margin: 0;
    display: block;
}

.dropzone .dz-preview .dz-image {
    border-radius: 0px;
    width: 220px;
    width: auto;
    height: 120px;
}

.mdl-layout__content {
    background: #f1f1f1;
}

.card-header {
    color: rgba(0,0,0,0.54);
    font: 400 14px Roboto,sans-serif;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.mdl-textfield__input {
    width: 100% !important;
}

.mdl-layout__tab-bar {
    width: 800px !important;
    margin-left: auto;
    margin-right: auto;
}

.video-container {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.video-form {
    padding: 16px;
}

.mdl-textfield {
    width: 80%;
}

.flexslider {
    background: #f1f1f1 !important;
    padding: 16px;
    box-sizing: border-box;
    height: 216px !important;
    margin-top: 50px;
    margin-bottom: 32px !important;
}

.course-textarea {
    text-align: center;
}


.slides img {
    height: 120px !important;
    width: 100% !important;
}

.course-wrapper {
    margin-right: 16px;
    float: left;
    width: 220px;
    background: black;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2000!important;
    margin-bottom: 20px;
}

.course-wrapper .course-header {
    height: 120px;
    width: 100%;
    background: #eeeeee;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.course-wrapper .course-desc {
    overflow: hidden;
    width: 100%;
    height: 64px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #ffffff;
    text-align: center;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

div.flexslider p {
    color: black !important;
}

.end-corse {
    margin-right: 0px;
}

.mdl-card__supporting-text {
    /*width: 100%;*/
}
